@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #000;
    --secundary-color: #00ff00ea;
    --terciary-color: rgba(255, 255, 255, 0.5);
}

strong{
    color: var(--secundary-color);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#0a0a0a, #34d80bbe);
    flex-direction: column;
}

.my-header{
    width: 100%;
    margin: 12px;
    padding: 0;
}

.my-header-menu{
    display: flex;
    gap: 80px;
    margin: 20px;
    padding: auto;
}

.link-header{
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--secundary-color);
    text-decoration: none;
}

.sobre-mim{
    flex:1;
}

.wellcome{
    display: flex;
    margin-top: 200px;
}

.apresentacao{
    display: inline-block;
    width: 50%;
    height: 400px;
    margin-left: 90px;
    box-sizing: border-box;
}

.side-acess{
    margin-top: 40px;
}

.boas-vindas{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-bottom: 12px;
}

.my-resume{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    margin: 20;
    color: white;
    text-align: justify;
    line-height: 1.5;
}

.conexao {
    display: flex;
    padding: 12px;
    color: var(--secundary-color);
    font-family: "Montserrat", sans-serif;
}

.my-links{
    padding: 10px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px 
}

.o-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 5px groove #0c0c0c8f;
    padding: 10px;
    width: 50%;
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.o-link:hover{
    color: var(--primary-color);
    background-color: var(--secundary-color);
}

.icon{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-image{
    margin-left: 100px;
    width: 500px;
    border-radius: 15px;
    margin-right: 200px;
}

.my-footer{
    align-items: center;
    padding: 8px;
    margin: 12px;
    background: linear-gradient(#34d80bd7, #e3e7e2ce);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    border-radius: 120px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.download-cv{
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.56);
    height: 20px;
    width: 150px;
    color: var(--primary-color);
    border-radius: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin-left: 100px;
    border: none;
    cursor: pointer;
}

/*RESPONSIVIDADE -- Utilizando Media Queries*/ 

@media (max-width:1200px){

    .my-header{
        padding: 7%;
    }

    .my-header-menu{
        justify-content: center;
    }
    
    .sobre-mim{
        flex-direction: column-reverse;
        padding: 7%;
    }

    .my-resume{
        width: auto;
        color: white
    }

}