@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #000;
    --secundary-color: #0852f1;
    --terciary-color: aquamarine;
}

strong{
    color: var(--secundary-color);
}

body {
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(#0bc3e7, #efecec);
}

.my-header{
    padding: 20px 5px 5px 20px;
}

.my-header-menu{
    display: flex;
    gap: 80px
}

.link-header{
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--terciary-color);
    text-decoration: none;
}

.sobre-mim{
    margin: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 82px;
}

.apresentacao{
    width: 50%;
    height: 400px;
    flex-direction: column; 
}

.boas-vindas{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
}

.my-resume{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    margin: 20;
}

.conexao {
    display: flex;
    padding: 12px;
    color: var(--secundary-color);
    font-family: "Montserrat", sans-serif;
}

.my-links{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px 
}

.o-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 5px groove #6aa2eb;
    padding: 10px;
    width: 50%;
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.o-link:hover{
    color: var(--secundary-color);
    background-color:var(--terciary-color);
}

.icon{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-image{
    width: 50%;
    border-radius: 15px;
    margin-right: 200px;
}

.my-footer{
    align-items: center;
    padding: 8px;
    margin: 8px;
    background: linear-gradient(#ffffff,#0bc3e7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    border-radius: 120px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

/*RESPONSIVIDADE -- Utilizando Media Queries*/ 

@media (max-width:1200px){

    .my-header{
        padding: 7%;
    }

    .my-header-menu{
        justify-content: center;
    }
    
    .sobre-mim{
        flex-direction: column-reverse;
        padding: 7%;
    }

    .my-resume{
        width: auto;
    }


}