@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
:root{
    --font-principal: "Montserrat", sans-serif;
    --primary-color: black;
    --secundary-color: #7ED957;
    --terciary-color: rgba(255, 255, 255, 0.5);
}

strong{
    color: var(--secundary-color);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-principal);
    overflow-x: hidden;
}

/* MEU HEADER DE ACESSO E NAVEGAÇÃO */

.my-header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
}

.my-header img{
    height: 150px;
    margin: 15px;
}

.my-header-menu{
    display: flex;
    gap: 35px;
    margin: 20px;
    padding: auto;
    justify-content: center;
}

.link-header{
    background-color: var(--secundary-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1.0rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    align-items: center;
    padding: 10px;
    border-radius: 12px;

}

/* MEU CONTEUDO PRINCIPAL */

    /* BOAS VINDAS E PRIMEIRO CONTATO */

.sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wellcome{
    display: flex;
    margin-top: 200px;
    margin-bottom: 300px;
}

.side-acess {
    display: block;
    justify-content: center;
    color: white;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 85px;
}

.side-acess h1,h2{
    font-size: 60px;
    font-family: "Orbitron", sans-serif;
    line-height: 80px;
}

.my-resume{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    margin: 20;
    color: white;
    text-align: justify;
    line-height: 35px;
    margin-top: 25px;
}

.my-links{
   display: flex;
}

.o-link{
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.icon{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.icon:hover{
    background-color: var(--secundary-color);
}

.principal-image{
    height: 600px;
    margin: 35px;
    border-radius: 25px;
    border: 5px groove rgba(0, 255, 0, 0.521);
}

/* MEU FOOTER */

/* .my-footer{
    align-items: center;
    padding: 8px;
    margin: 12px;
    background: linear-gradient(#34d80bd7, #e3e7e2ce);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    border-radius: 120px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
} */

/*RESPONSIVIDADE -- Utilizando Media Queries*/ 

@media (max-width:1200px){

    .my-header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .my-header-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre-mim{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .porfile{
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .principal-image{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: clip;
    }

    .sobre-mim{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .sobre-mim > *{
        margin-bottom: 25px;
    }

    .wellcome{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        max-width: max-content;
        margin: 75px;
        margin-top: 200px;
        padding-bottom: 200px;
    }

    .apresentacao{
        margin: 0;
        width: 320px;        
    }

    .side-acess{
       
        margin-top: 40px;
    }

    .my-links{
        margin: 0;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}