@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-principal: "Montserrat", sans-serif;
    --primary-color: #000;
    --secundary-color: #00ff00ea;
    --terciary-color: rgba(255, 255, 255, 0.5);
}

.projects{
    margin-top: 300px;
    display: column;
}

.my-projects{
    display: flex;
    font-family: var(--font-principal);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    margin: 55px;    
}

.my-projects > *{
    margin-bottom: 20px;
}

.aplicacoes{
    align-items: center;
}

.encriptador{
    display: flex;
    margin: 35px;
    width: 100%;
    align-items: center;
    padding: 0;
}

.numero-secreto{
    display: flex;
    margin: 35px;
    width: 100%;
    align-items: center;
}

.gif{
    margin: 35px;
    width: 1000px;
    border-radius: 12px;
    border: 5px groove #0c0c0c8f;
}

.descricao{
    border-radius: 25px;
    width: 100%;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font-principal);
}

.descricao p{
    width: 350px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    word-spacing: normal;
}

.btn-project{
    display: flex;
    padding: 10px;
    width: 125px;
    background-color: var(--secundary-color);
    border-radius: 12px;
    border: 25px;
    font-weight: 600;
    text-decoration: none;
    justify-content: center;
    margin: 12px;
    border: 3px groove #0c0c0c8f;
}

.btn-project:hover{
    background-color: #00000045;
    color: white;
}

/*RESPONSIVIDADE -- Utilizando Media Queries*/ 

@media (max-width:1200px){

    .projects{
        display: flex;
        margin: 50px 0 0 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .my-projects{
        margin: 25px 0 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gif{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px
    }

    .encriptador{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .numero-secreto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn-project{
        width: 150px;
    }

    .descricao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botoes{
        margin: 35px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}

