@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #000;
    --secundary-color: #00ff00b9;
    --terciary-color: rgba(255, 255, 255, 0.5);
}

.apresentacao-sobre-mim{
    margin-top: 300px;
    display: flex;
}

.my-apresentacao{
    margin: 0 0 0 90px;
    word-spacing: 2px;
}

.sobre-eu{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-bottom: 12px;
}

.my-resume-carrer{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    margin: 20px;
    color: white;
    text-align: justify;
    line-height: 1.5;
    word-wrap: break-word;
}

.baixar-curriculo{
    margin: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curriculo{
    display: flex;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.311);
    color: var(--primary-color);
    border-radius: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.icon-download{
    width: 25px;
    margin-right: 7px;
}

.curriculo:hover{
    color: var(--primary-color);
    background-color: var(--secundary-color);
}


/*RESPONSIVIDADE -- Utilizando Media Queries*/ 

@media (max-width:1200px){

    .apresentacao-sobre-mim{
        display: flex;
        margin-top: 55px;
        margin-bottom: 90px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .my-apresentacao{
        margin: 0;
        width: 320px;
    }

    .sobre-eu{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 77px;
        width: 320px; 
    }

    .my-resume-carrer{
        margin: 50px 0 0 0;
        word-spacing: 1px;
    }

    .curriculo{
        margin: 0;
        display: flex;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.311);
        color: var(--primary-color);
        border-radius: 20px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        border: none;
        cursor: pointer;
        width: 200px;
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    .conexao{
        display: flex;
        flex-direction: column;
        padding: 12px;
        color: var(--secundary-color);
        font-family: "Montserrat", sans-serif;
    }

    .icon-download{
        width: 25px;
        margin-right: 7px;
    }

}