@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #000;
    --secundary-color: #00ff00ea;
    --terciary-color: rgba(255, 255, 255, 0.5);
}

.apresentacao-sobre-mim{
    margin-top: 300px;
    display: flex;
}

.sobre-eu{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-bottom: 12px;
}

.my-resume-carrer{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    margin: 20px;
    color: white;
    text-align: justify;
    line-height: 1.5;
}

.curriculo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-cv{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.download-cv:hover{
    color: var(--primary-color);
    background-color: var(--secundary-color);
}


/*RESPONSIVIDADE -- Utilizando Media Queries*/ 

@media (max-width:1200px){

    .apresentacao-sobre-mim{
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .my-apresentacao{
        margin: 0;
        width: 320px; 
    }

    .sobre-eu{
        display: flex;
        justify-content: center;
        margin: 0;
        width: 320px; 
    }

    .my-resume-carrer{
        margin: 50px 0 0 0;
    }

    .curriculo{
        display: flex;
        margin-top: 80px;
    }

    .download-cv{
        margin: 0;
    }

}